/*===================================================================================*/
/*  GREEN Color
/*===================================================================================*/
a {
  color: #6BA220;
}
.show-theme-options:hover,
.show-theme-options:focus {
  background: #6BA220;
}
.btn-primary:hover,
.btn-black:hover,
.btn-primary:focus,
.btn-black:focus {
  background: #6BA220;
}
.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  color: #6BA220;
}
.top-bar .cnt-block ul li a .caret {
  color: #6BA220;
}
.top-bar .cnt-block ul li .dropdown-menu li a:hover,
.top-bar .cnt-block ul li .dropdown-menu li a:focus {
  color: #6BA220;
}
.main-header .top-search-holder .contact-row .icon {
  color: #6BA220;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price {
  color: #6BA220;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:focus {
  color: #6BA220;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
  color: #6BA220;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:focus {
  color: #6BA220;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
  color: #6BA220;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  color: #6BA220;
}
.header-style-1 .header-nav {
  background: #6BA220;
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li.active {
  background: #84b943;
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:hover,
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:focus {
  background: #84b943;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active,
.cnt-homepage .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active {
  background: #6BA220;
}
.cnt-home .header-style-1.header-style-3 .header-nav .navbar .navbar-nav > li.active {
  background: #6BA220;
}
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  background: #6BA220 !important;
}
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li.open {
  background: #6BA220;
}
.sidebar .side-menu nav .nav > li a:hover,
.sidebar .side-menu nav .nav > li a:focus {
  color: #6BA220;
}
.sidebar .side-menu nav .nav > li a:hover:after,
.sidebar .side-menu nav .nav > li a:focus:after {
  color: #6BA220;
}
.info-box .info-box-heading.green {
  color: #6BA220;
}
.scroll-tabs .nav-tab-line li a:hover,
.scroll-tabs .nav-tab-line li a:focus {
  color: #6BA220;
}
.product .product-info .name a:hover,
.product .product-info .name a:focus {
  color: #6BA220;
}
.product .product-info .product-price .price {
  color: #6BA220;
}
.product .cart .action ul li.lnk a:hover,
.product .cart .action ul li.lnk a:focus {
  color: #6BA220;
}
.product .cart .action ul li.add-cart-button .btn-primary:hover,
.product .cart .action ul li.add-cart-button .btn-primary:focus {
  background: #6BA220;
}
.product .cart .action ul li.add-cart-button .btn-primary.icon:hover,
.product .cart .action ul li.add-cart-button .btn-primary.icon:focus {
  background: #84b943;
}
.tag.sale {
  background: #6BA220;
}
.copyright-bar .copyright a {
  color: #6BA220;
}
.blog-slider-container .blog-slider .blog-post-info .name a:hover,
.blog-slider-container .blog-slider .blog-post-info .name a:focus {
  color: #6BA220;
}
.footer .links-social .social-icons a:hover,
.footer .links-social .social-icons a:focus,
.footer .links-social .social-icons a.active {
  background: #6BA220;
}
.latest-tweet .re-twitter .comment a {
  color: #6BA220;
}
.latest-tweet .re-twitter .comment .icon .fa-stack-2x {
  color: #6BA220;
}
.footer .contact-information .media .icon .fa-stack-2x {
  color: #6BA220;
}
.footer .contact-information .media .media-body a:hover,
.footer .contact-information .media .media-body a:focus {
  color: #6BA220;
}
.footer .footer-bottom .module-body ul li a:hover,
.footer .footer-bottom .module-body ul li a:focus {
  color: #6BA220;
}
.product-tag .item.active,
.product-tag .item:hover,
.product-tag .item:focus {
  background: #6BA220;
}
.hot-deals .product-info .product-price .price {
  color: #6BA220;
}
.hot-deals .product-info .name a:hover,
.hot-deals .product-info .name a:focus {
  color: #6BA220;
}
.custom-carousel .owl-controls .owl-prev:hover,
.custom-carousel .owl-controls .owl-next:hover,
.custom-carousel .owl-controls .owl-prev:focus,
.custom-carousel .owl-controls .owl-next:focus {
  background: #84b943;
}
.yamm .dropdown-menu .title:hover,
.yamm .dropdown-menu .title:focus {
  color: #6BA220;
}
.yamm .dropdown-menu li a:hover,
.yamm .dropdown-menu li a:focus {
  color: #6BA220;
}
.breadcrumb ul li.active {
  color: #84b943;
}
.breadcrumb ul a:hover,
.breadcrumb ul a:focus {
  color: #84b943;
}
.filters-container .nav-tabs.nav-tab-box li.active a .icon {
  color: #6BA220;
}
.filters-container .pagination-container ul li.active a {
  color: #6BA220;
}
.filters-container .pagination-container ul li.prev:hover,
.filters-container .pagination-container ul li.next:hover,
.filters-container .pagination-container ul li.prev:focus,
.filters-container .pagination-container ul li.next:focus {
  background: #6BA220;
}
.filters-container .pagination-container ul li a:hover,
.filters-container .pagination-container ul li a:focus {
  color: #6BA220;
}
.filters-container .lbl-cnt .dropdown.dropdown-med .dropdown-menu li a:hover,
.filters-container .lbl-cnt .dropdown.dropdown-med .dropdown-menu li a:focus {
  color: #6BA220;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:hover,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:focus,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:after {
  color: #6BA220;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .price-range-holder .slider .slider-track .slider-handle {
  border: 5px solid #6BA220;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .list li a:hover,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .list li a:focus {
  color: #6BA220;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .compare-report span {
  color: #6BA220;
}
.sidebar .sidebar-widget .advertisement .owl-controls .owl-pagination .owl-page.active span {
  background: #6BA220;
}
.sidebar .sidebar-widget .advertisement .owl-controls .owl-pagination .owl-page:hover span {
  background: #6BA220;
}
.single-product .gallery-holder .gallery-thumbs .owl-item .item:hover {
  border: 1px solid #6BA220;
}
.single-product .product-info .rating-reviews .reviews .lnk:hover,
.single-product .product-info .rating-reviews .reviews .lnk:focus {
  color: #6BA220;
}
.single-product .product-info .price-container .price-box .price {
  color: #6BA220;
}
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:hover,
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:focus {
  color: #6BA220;
}
.single-product .product-info .product-social-link .social-icons ul li a:hover,
.single-product .product-info .product-social-link .social-icons ul li a:focus {
  background: #6BA220;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus {
  background: #6BA220;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover:after,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #6BA220;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a {
  background: #6BA220;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #6BA220;
}
.cart .action .add-cart-button .btn.btn-primary.icon:hover,
.cart .action .add-cart-button .btn.btn-primary.icon:focus {
  background: #6BA220;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date span {
  color: #6BA220;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .author span {
  color: #6BA220;
}
#owl-main:hover .owl-prev:hover,
#owl-main:hover .owl-next:hover {
  background: #84b943;
}
#owl-main .owl-controls .owl-pagination .owl-page:active span,
#owl-main .owl-controls .owl-pagination .owl-page:hover span {
  background: #6BA220;
}
.cart .action ul .lnk .add-to-cart:hover,
.cart .action ul .lnk .add-to-cart:focus {
  color: #6BA220 !important;
}
.cart .action .add-to-cart:hover,
.cart .action .add-to-cart:focus {
  color: #6BA220 !important;
}
.homepage-container .product .tag.hot {
  background: #6BA220;
}
.homepage-container .product .product-info .name a:hover,
.homepage-container .product .product-info .name a:focus {
  color: #6BA220;
}
.homepage-container .btn-primary:hover,
.homepage-container .btn-primary:focus {
  background: #6BA220;
  border: 2px solid #6BA220;
}
.category-product .cart .action ul li .add-to-cart:hover,
.category-product .cart .action ul li .add-to-cart:focus {
  background: #6BA220;
}
.furniture-container .product .btn-primary:hover,
.furniture-container .product .btn-primary:focus {
  background: #6BA220;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  background: #6BA220;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li.open {
  background: #6BA220;
}
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page.active span {
  background: #6BA220 !important;
}
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span:hover,
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span:focus {
  background: #6BA220 !important;
}
.cnt-homepage .sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .price-range-holder .slider .slider-track .slider-handle.max-slider-handle {
  background: #6BA220;
}
.blog-page .blog-post h1 a:hover,
.blog-page .blog-post h1 a:focus {
  color: #6BA220;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:focus {
  color: #84b943;
}
.blog-page .blog-post .social-media a:hover,
.blog-page .blog-post .social-media a:focus {
  background-color: #6BA220;
}
.blog-page .sidebar .sidebar-module-container .search-area .search-button:after {
  color: #84b943;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:focus {
  color: #6BA220;
}
.blog-page .blog-post-author-details .author-social-network button .twitter-icon {
  background-color: #6BA220;
}
.blog-page .blog-review .review-action a,
.blog-page .blog-review .review-action a:hover,
.blog-page .blog-review .review-action a:focus {
  color: #6BA220;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:hover,
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:focus {
  color: #6BA220;
}
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title > a:not(.collapsed) span {
  background-color: #6BA220;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:hover,
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:focus {
  color: #6BA220;
}
.checkout-box .checkout-progress-sidebar .panel-body ul li a:hover,
.checkout-box .checkout-progress-sidebar .panel-body ul li a:focus {
  color: #6BA220;
}
.contact-page .contact-info .contact-i {
  background-color: #6BA220;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:focus {
  color: #6BA220;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  color: #84b943;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:focus {
  color: #6BA220;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  color: #84b943;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:hover,
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:focus {
  color: #6BA220;
}
.logo-color {
  fill: #6BA220;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:hover,
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:focus {
  color: #6BA220;
}
.cnt-homepage .single-product .product-info-block .txt.txt-qty {
  color: #6BA220;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail {
  border-bottom: none;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li {
  margin-right: 10px;
  padding: 0;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:hover,
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:focus {
  background: #6BA220;
  border: 2px solid #6BA220;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li.active a {
  background: #6BA220;
  border: 2px solid #6BA220;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  color: #6BA220;
}
.yamm .dropdown-menu {
  border-top-color: #6BA220;
}
.product-comparison .compare-table tr td .product-price .price {
  color: #6BA220;
}
.product-comparison .compare-table tr td .in-stock {
  color: #6BA220;
}
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:hover,
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:focus {
  color: #6BA220;
}
.product-comparison .compare-table tr td .product-price .price {
  color: #6BA220;
}
.product-comparison .compare-table tr td .in-stock {
  color: #6BA220;
}
.body-content .x-page .x-text h1 {
  color: #6BA220;
}
.body-content .x-page .x-text a {
  color: #6BA220;
}
.sign-in-page .register-form .forgot-password,
.sign-in-page .register-form .forgot-password:hover,
.sign-in-page .register-form .forgot-password:focus {
  color: #6BA220;
}
.body-content .my-wishlist-page .my-wishlist table tbody .price {
  color: #6BA220;
}
.terms-conditions-page .contact-form {
  color: #6BA220;
}

.bx_order_make .bx_logotype.active, .bx_order_make .bx_logotype:hover{
    box-shadow: 0 0 0 0 rgba(0,93,153,1);
    border: 1px solid #6BA220;
}

.bx_order_make .bx_logotype {
	    box-shadow: 0 0 0 0 rgba(0,93,153,1);
    border: 1px solid #ddd;
}

.bx_element input[type=radio]:checked + label .bx_logotype, .bx_element label.selected .bx_logotype{
	
	border: 1px solid #6BA220 !important;
	
}

.tablebodytext input[type=submit] {
	border-radius: 4px;
	padding: 6px 12px;
    background: #a8a8a8;
    color: #fff;
    border: none;
    font-size: 13px;
    line-height: 22px;
	
}
.tablebodytext input[type=submit]:hover {
background: #6BA220;
}

/*---*/
.bx_catalog_list_home .bx_catalog_item_price .bx_price {
    color: #6BA220;	
	}
.gallery-holder .bx_item_slider .bx_slide ul li:active .cnt, .gallery-holder .bx_item_slider .bx_slide ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.gallery-holder .bx_item_slider .bx_slide ul li:hover .cnt {
    border: 1px solid #6BA220;
}

.single-product .bx_item_detail_scu .bx_scu ul li:active .cnt, .single-product .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.single-product .bx_item_detail_scu .bx_scu ul li:hover .cnt {
    border: 1px solid #6BA220;
}
.single-product .bx_item_detail_scu .bx_scu ul li .cnt {
    border: 0px solid #6BA220;
}
.single-product .bx_item_detail_size ul li:active .cnt, .single-product .bx_item_detail_size ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.products .bx_item_detail_scu .bx_scu ul li:active .cnt, .products .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.products .bx_item_detail_scu .bx_scu ul li:hover .cnt {
    border: 1px solid #6BA220;
}
.bx_catalog_list_home .bx_item_detail_size ul li:hover .cnt {
    border: 1px solid #6BA220;
}
.bx_catalog_list_home .bx_item_detail_size ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_size ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #6BA220;
}
.bx_item_detail_scu_small_noadaptive .bx_scu ul li:active a, .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    border: 1px solid #6BA220;
	background-color: #6BA220;
}
.bx_item_detail_size_small_noadaptive ul li:active a, .bx_item_detail_size_small_noadaptive ul li.bx_active a {
    border: 1px solid #6BA220;
}
.bx_item_detail_scu_small_noadaptive .bx_scu ul li:hover a {
    border: 1px solid #6BA220;
}

.bx_item_detail_size_small_noadaptive ul li:hover a {
    border: 1px solid #6BA220;
}
.bx_ordercart .bx_sort_container a:hover{	
background: #6BA220;	
}

.bx_ordercart .bx_sort_container a.current:hover{	
background: #6BA220;	
}
.main-buttons:hover{	
background: #6BA220;	
}
.bx_bt_button:hover{
	background: #6BA220;
}
.product-list .product-price{	
	color: #6BA220;
}
.touch .bx_bt_button_type_2:hover{	
background: #6BA220;	
}
.bx_filter .bx_ui_slider_handle.right {
	    border: 5px solid #6BA220   !important;
}
.bx_filter .bx_ui_slider_handle.left {
	 border: 5px solid #6BA220   !important;
}

.bx_filter .bx_ui_slider_part{
	
	background: #6BA220  !important;
	
}

.sidebar .side-menu nav .nav > li > a:hover, .sidebar .side-menu nav .nav > li > a:focus {
    border-left: 5px solid #6BA220;
}

.bx_filter .bx_filter_param_btn:active, .bx_filter .bx_filter_param_label.active .bx_filter_param_btn{
	box-shadow: 0 0 0 1px #6BA220,inset 0 2px 3px rgba(0,0,0,.12);
}

.btn-primary {
    background: #84b943;
}

/*bind css (not edit)*/
.menu_vert {margin: 0; padding: 0; position: relative;}
.menu_vert li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #ebebeb;
    border-image: none;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-style: none solid;
    border-width: 0 1px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
    background: #f7f7f7;
}
.menu_vert>li:last-child { border:0} 
.menu_vert a {
 display: block;
 padding: 10px 35px 10px 10px;
 text-align: left;
 text-decoration: none;
 position:relative;
    color: #666666;
    text-transform: uppercase;
}
.menu_vert a:hover { background: #fff; color: #84b943; border-left: 5px solid #84b943; }
.menu_vert .active {background: #fff; color: #84b943; border-left: 5px solid #84b943; }
.menu_vert ul li { display: block; list-style: none; margin: 0; padding:0;  border:0; width:100%;     border-bottom: 1px solid #E0E0E0;}
.menu_vert ul a { background: #fff; display: block;}
.menu_vert ul a:hover { display: block; border-left: 0px}
.menu_vert ul .active { display: block; border-left: 0px}
.menu_vert ul { background: #fff; border: 1px solid #f1f1f1; border-top-color: #84b943;  top: 0; display: none; left: 0; margin: 0; //margin: 1px 0 0 0; padding: 0; position: absolute; top: 0; z-index:999; //zoom:1;}
@media (max-width: 991px) and (min-width: 168px){
.menu_vert ul {

    left: 0 !important;
    right: 0;
    top: 39px !important;
  
}
}
.arrow-right:after {
    color: #bababa;
    content: "\f0a9";
    float: right;
    font-size: 12px;
    height: 20px;
    line-height: 18px;
    width: 20px;
    font-family: FontAwesome;
	    position: absolute;
		    top: 10px;
    right: 8px;
}

.bx_catalog_list_home .bx_catalog_item_price .bx_price {
    color: #6BA220;
}

.config-title{
	
	color: #6BA220  !important;
	
}

.dark-green-text .fa{
    display: inline-block !important;
}
.green-text .fa{
    display: none !important;
}
