.config{
	position: fixed;
	top: 160px;
	left: -165px;
	-webkit-transition: 0.3s ease;
  	transition: 0.3s ease;
  	z-index: 999;
}

.config-options{
	float: left;
	width: 165px;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ECECEC;
	line-height: 24px;
	border-radius: 0 6px 6px 0;

}

.config-options h4{
	margin-bottom: 10px;
}

.config-options .list-unstyled{
	margin-bottom: 20px;
}

.config-options .list-unstyled:last-child{
	margin-bottom: 0;
}

.config-options .list-unstyled > li > a{
	display: block;
	padding-left: 5px;
}

.config-options .list-unstyled > li > a:hover{
	background-color: #fff;
	text-decoration:none;
}

.show-theme-options{
	float: left;
    text-align: center;
    display: block;
    background-color: #fff;
    line-height: 50px;
    color: #444;
    font-size: 28px;
    width: 50px;
    height: 50px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ececec;
	margin-top: 15px;
    border-left: 0px;

}

.show-theme-options:hover,.show-theme-options:focus{
	text-decoration:none;
	color:#fff;
}

.config.open{
	left: 0;
}

.config .dropdown .dropdown-toggle{
	padding: 6px 12px;
}

.config .dropdown .dropdown-toggle:after{
	content: none;
}

.config-options ul li {
    list-style: none;
    float: left;
}

.config-options ul li a {
    display: block;
    width: 27px;
    height: 27px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    margin: 0px 10px 15px 10px;
    cursor: pointer;
}

.config-options ul li a.selected .fa {
    display: inline-block;
}

.config-options ul li a .fa {
	color: #fffeef;
    display: none;
    font-size: 16px;
    line-height: 1.6em;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}