/*Slider css for the revolution slider*/



.imed-sl1 img{max-width: 100%;}

.bluebg-t1{font-size: 37px !important; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}

.whitebg-t1{font-size: 37px !important; color: #fff; font-family: 'Open Sans', sans-serif; font-weight: 300; line-height: 40px !important;}

.bluebg-t2,.whitebg-t2{font-size: 27px !important; font-weight:bold; color: #fff; font-family: 'Open Sans', sans-serif;}

.bluebg-t3{font-size: 15px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.whitebg-t3{font-size: 13px !important; color: #fff; font-family: 'Open Sans', sans-serif;}

.s1-but a{font-size: 15px !important; font-weight:bold; color: #107fc9; padding: 15px 25px; background-color: #fff;}

.s1-but a:hover{color: #000;}

