.doctors-3col-tabs .nav-tabs > li.active > a, .doctors-3col-tabs .nav-tabs > li.active > a:hover, .doctors-3col-tabs .nav-tabs > li.active > a:focus {
	padding-left: 10px;
}

.mid-widgets-serices.services-page, .services-page .service-box {
	min-height: 300px;
}

textarea {
	resize: none;
}
#blog-medium-left .carousel-inner{
	border:none;
}
#blog-medium-left .carousel-inner img{
	border:1px solid #e6e7e8;
}
#bx-composite-banner{
	min-width:190px;
}
.news-button {
	min-width:90px;
}
.other-op.nav>li{
	    padding-top: 15px !important;
}
.side-bar-blog{
	display: block !important;
}