.bx_item_detail_rating .bx_stars_progres {
    background: #ffc808;
}

.bx-rating {
    color: #ffc808;
}

.bx_item_detail_rating .bx_stars_bg {
    background: url(assets/images/stars.png) no-repeat center;
}
.bx_item_detail_rating .bx_stars_container {
    background: #fff;
}
.bx_item_detail_rating {
    margin-bottom: 0px;
    margin-left: 0px;
}
.bx_catalog_list_home .bx_catalog_item_price .bx_price {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-right: 8px;
    padding-top: 0px;

}

#grid-container .action ul li {
  float: left;
}
#grid-container .action ul li.add-cart-button .btn.btn-primary.icon {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background: #575757 ;
}
#grid-container .action ul li.lnk {
  margin: 10px 0px;
}
#grid-container .action ul li.lnk a {
  padding: 0 10px;
  color: #dadada;
}
#grid-container .action ul li.lnk.wishlist {
  border-right: 1px solid #dadada;
}

.bx_catalog_item_container .tag {
    position: relative;
	z-index: 910;
	top: 10px;
    right: 10px;
	margin-bottom: 5px;
}

.bottom_menu{
    width: 126px;
	margin-left: 15px;
}

.bottom_menu a{
    color: #666;
    font-size: 12px;
	line-height: 36px;
	margin-left: 23px;
}

.bottom_menu li{
        
}
.bottom_menu ul{
    list-style: inherit;
}

.bx_catalog_item_images {
    position: relative;
    z-index: 910;
    display: block;
    padding-top: 135%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.bx_catalog_item_title {
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-top: 15px;
min-height:50px;
margin-bottom: 0px;
}

.products:hover .bx_catalog_item_title {
    overflow: hidden;
    white-space: normal;
	}
.products  {
    position: relative;
	}
#grid-container .products .action{
    display: none;
}
#grid-container .products:hover .action {
display: block;
    position: absolute;
    z-index: 990;
    background: #fff;
	padding: 0 12px 5px 12px;
	border: 1px solid #e3e3e3;
	left: -6px;
    right: -6px;
	border-top: 0px;
	margin-top:-6px;
}

#grid-container .bx_item_detail_scu.full{
		padding: 0 20px 5px 20px;
}

/*.products:hover .product {
position: absolute;
z-index:9999;
left:0;
right:0;
border: 1px solid #e3e3e3;
border-top: 0px;
background: #fff;
}*/
.search-result-container .category-product .product .product-image .tag {
    z-index: 910;
	position: relative;
    margin-bottom: 5px;
}

.products 	  .bx_catalog_item_scu{display:none}
.products .bx_catalog_item_scu{display:block}
.products	  .bx_catalog_item_scu{padding-top:0; width: 100%; margin: 5px auto;}
.products:hover .bx_catalog_item_scu>div{margin:0 auto}
.products .bx_item_detail_scu .bx_scu{
	position: relative;
	overflow: hidden;
	margin: 0;
	width: 100%;
}


.products .bx_item_detail_scu .bx_scu ul{
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	white-space: nowrap
}
.productse .bx_item_detail_scu .bx_scu ul{margin-left: 0 !important}
.products .bx_item_detail_scu .bx_scu ul li{
	position: relative;
	display: block;
	float: left;
	height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.products .bx_item_detail_scu .bx_scu ul li .cnt{
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 2px;
	bottom: 4px;
	left:2px;
	display: block;
	overflow: hidden;
	border: 1px solid #c0cfda;
	background: #fff;
	z-index:10;
}
.products .bx_item_detail_scu .bx_scu ul li .cnt{
	border: none;
	border-style: solid;
	border-width: 1px;
	-webkit-border-image: url(images/x2border.png) 2 stretch;
	-moz-border-image: url(images/x2border.png) 2 stretch;
	-o-border-image: url(images/x2border.png) 2 stretch;
	border-image: url(images/x2border.png) 2 fill stretch;
}

.products .bx_item_detail_scu .bx_scu ul li:active .cnt,
.products .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	padding: 0;
	border: 2px solid #006cc0;
}

.products .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item{
	position: absolute;
	top:   6%;
	right: 6%;
	bottom:6%;
	left:  6%;
	background-size:contain;
	background-repeat: no-repeat;
}
.products .bx_item_detail_scu .bx_scu ul li .cnt .cnt_item img{
	width: auto;
	height: 25px;
}

.products .bx_item_detail_scu .bx_scu_scroller_container{position: relative}

.products .bx_item_detail_scu .bx_slide_left,
.products .bx_item_detail_scu .bx_slide_right  	  {opacity:0.8}
.products .bx_item_detail_scu .bx_slide_left:hover,
.products .bx_item_detail_scu .bx_slide_right:hover{opacity:1.0}

.products .bx_item_detail_scu.full .bx_slide_left,
.products .bx_item_detail_scu.full .bx_slide_right{
	position: absolute;
	top: 0;
	bottom:4px;
	width :5%;
	max-width:11px;
	cursor: pointer;
}

.products .bx_item_detail_scu .bx_slide_left {left: -5%;background:url(images/arr_left.png)  no-repeat   left  center;background-size: 100% auto}
.products .bx_item_detail_scu .bx_slide_right{right:-5%;background:url(images/arr_right.png) no-repeat   right center;background-size: 100% auto}

.price span{
    text-decoration: line-through;
    color: #d3d3d3;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
}

.single-product .product-info .price-container .price-box .price-strike{
    font-size: 17px;
    margin-left: 14px;
	    white-space: nowrap;
}



#grid-container .col-md-4:hover  {
border: 1px solid #e3e3e3;
border-bottom: 0px;
padding: 0px 5px 0px 5px;
background: #fff;
position: inherit;
 position: relative;
margin-top: 0px;
}

#grid-container .tri:hover  {
margin-top: 0px;
top:0px;
}

.detail_strong{
   /* font-size: 15px;*/
    padding: 5px;
	/*color:#000;*/
}
.favorite-button .btn-primary {
margin:10px;
}


.bx_catalog_list_home .bx_bt_button{
font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
	padding: 2px 17px;	
	    display: inline-block;
	}
.bx_catalog_list_home .bx_bt_button:hover{
	
	color:#fff;
	
}	
	.fb_iframe_widget {
    top: -6px;
    left: 10px;
}

.col-sm-7 .bx_bt_button{
	
	padding: 2px 6px;
	
}


.bx-catalog-tab-list {
    border-bottom: 0px solid #d9e1e3;
}

.gallery-holder .bx_item_slider .bx_slide ul li:active .cnt, .gallery-holder .bx_item_slider .bx_slide ul li.bx_active .cnt {
    padding: 0px;

}


.single-product .bx_item_detail_scu .bx_scu ul li:active .cnt, .single-product .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    padding: 0px;

}
.single-product .bx_item_detail_scu .bx_scu ul li .cnt {
	background: #eeeeee;
	padding: 0px;
}
.single-product .bx_item_detail_scu .bx_item_section_name_gray {
    font-size: 16px;
    font-family: 'FjallaOneRegular';
    line-height: 18px;
    text-transform: uppercase;
    color: #666666;
    padding: 0px;
    font-weight: normal;
}
.single-product .bx_item_detail_scu .bx_scu_scroller_container {
    top: 10px;
}
.single-product .bx_item_detail_size .bx_item_section_name_gray {
    font-size: 16px;
    font-family: 'FjallaOneRegular';
    line-height: 18px;
    text-transform: uppercase;
    color: #666666;
    padding: 0px;
    font-weight: normal;
}
.single-product .bx_item_detail_size .bx_size_scroller_container {
    top: 10px;
}
.single-product .bx_item_detail_size ul li:active .cnt, .single-product .bx_item_detail_size ul li.bx_active .cnt {

	background: #eeeeee;
}
.gallery-holder .bx_item_slider .bx_bigimages {
border-radius: 0px;
border-bottom: 1px solid #e3e3e3;
    max-width: 340px;
}

.item_info_section .dd{
	font-size: 13px;
    font-family: 'FjallaOneRegular';
    line-height: 18px;
    text-transform: uppercase;
    color: #666666;
    padding: 5px 0;
    font-weight: normal;
    font-weight: bold;
    width: 70%;
	border-bottom: 1px dotted #b4b4b4;
}

.item_info_section  .dd span, .item_info_section  .dt span {
    background: #fff;
    position: relative;
    zoom: 1;
    bottom: -10px;
}
.detail_cart_doc{
	
	margin: 0px auto 9px;
    background: #fff;
	
}

.item_info_section .dt{
    text-align: right;
    width: 30%;
	border-bottom: 1px dotted #b4b4b4;
}

.item_info_section .detail_table{
    margin-bottom: 15px;
    width: 100%;
}

.bx_item_detail_inc_one_container .wrapper {
    text-align: right;
}
.bx_item_vidget {
    width: 40%;
    padding: 10px;
	border: 0px solid #c3c3c3;
	height: 40px;
	}
.bx_item_detail_inc_two {
    position: absolute;
    width: 80%;
	top: -50px;
}
.products .bx_item_detail_scu .bx_scu ul li:active .cnt, .products .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    padding: 0;
}
.products .bx_item_detail_scu .bx_scu ul li .cnt {
border: 0px;
background: #eeeeee;
}

.bx_catalog_list_home .bx_item_detail_size ul li{
    margin-top: 3px;
}

.bx_catalog_list_home.col3 .bx_catalog_item{
	padding: 0 0px;
    margin: 0 1% 30px;
    width: 29% !important;
}

.bx_catalog_list_home .bx_item_detail_size ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_size ul li.bx_active .cnt {

	background: #eeeeee;
}
.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container {
    border-radius: 0px;
	animation: borderview 0s;
	border: 1px solid #e3e3e3;
	padding: 5px;
position: relative;
}
.bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    padding: 0;

}
.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_title {
    overflow: inherit;
	min-height:50px;
}

.bx_catalog_item_container .btn-primary {
    font-size: 12px;
	}
	
.breadcrumb-inner .list-inline>li{
        white-space: nowrap;
}

.shopping-cart-table .bx_ordercart_photo_container {
    position: relative;
    padding-top: 100%;
    min-width: 130px;
    max-width: 100%;
    height: 0;
    border: 0px solid #c0cfda;
    border-radius: 2px;
}
.shopping-cart-table .bx_ordercart_photo_container .bx_ordercart_photo {
    position: absolute;
    top: 4%;
    right: 4%;
    bottom: 4%;
    left: 4%;
    background-position: center;
    -webkit-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 {
max-width: 225px;
}

.bx_item_detail_scu_small_noadaptive .bx_scu ul li:active a, .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    padding: 0px;
	background-color: #12cca7;
}
.bx_item_detail_size_small_noadaptive ul li:active a, .bx_item_detail_size_small_noadaptive ul li.bx_active a {
	background: #eeeeee;
}
.bx_ordercart_itemtitle{
    margin-top: 0px;
    font-family: 'FjallaOneRegular';
    font-size: 16px;
    text-transform: uppercase;
}
.brends_picture_block {
    margin: 30px 30px 20px 0;
    float: left;
}
.bx_catalog_list_home .bx_catalog_item_images{
	
	    border: 1px solid #e3e3e3;
	
}
.bx-no-touch .bx_catalog_list_home .bx_catalog_item.double:hover .bx_catalog_item_images {
	
	    border: 0px solid #e3e3e3;
	
}

#grid-container .col-md-4:hover .bx_catalog_item_images {
	
	    border: 0px solid #e3e3e3;
	
}
.featured-product .owl-wrapper{
	
	min-height:417px;;
	
}

.homebanner-holder .featured-product{
	
	margin-top: 30px;
	
}
.hoi{
       z-index: 999;
	   
}

.footer .links-social {
	
	margin-bottom: 15px;
	
}

.footer .inner-top-sm {
	    padding-top: 15px;
}


.main-header .top-search-holder .contact-row .phone2 {
    margin: 0;
    border-left: 1px solid #E2E2E2;
    padding-left: 10px;
	    cursor: pointer;
}

.owl-carousel .owl-wrapper-outer{
	
	    position: static !important;
	
}

.bx_catalog_list_home .bx_catalog_item{
	
	    position: static !important;
	
}

.bx_ordercart .bx_sort_container a{
font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
	padding: 2px 17px;
}

.bx_ordercart .bx_sort_container a:hover {
	 color: #fff !important;
}

.main-buttons {
font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
    height: 38px;
	padding: 6px 17px;
}

.popup-window.popup-window-titlebar{
	
	min-width:620px;
	
}

.main-buttons:hover {
	 color: #fff  !important;	
}

.bx_bt_button{
font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
padding: 2px 17px;	
display: inline-block;
}

.bx_bt_button:hover{
	 color: #fff  !important;	
}
 
.main-buttons .popup-window-button-left, .main-buttons .popup-window-button-right{
	
	    width: 0px;
    background: transparent;
	
}

 .popup-window-button-text{
	    color: #747474;
}

 .popup-window-button-text:hover{
	    color: #fff;
}

.form-container {
	
	min-width:400px;
	
}

.form-container h4	
	{
    font-size: 24px;
    font-family: 'FjallaOneRegular';
    padding-bottom: 14px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;

}

.form-container label{
    font-size: 14px;
    font-weight: 400;
}

.popup-window .form-group{
	
	min-width:430px;
	
}

.form-container .form-group span {
    color: red;
	margin:0 3px;
}

.wishlist {
	
	cursor:pointer;
	
}

.css_popup{
	
	    margin-left: 5px;
		margin-right: -10px;
}

.owl-item{
	
	padding-right:15px;
	min-width: 212px !important;
	
	
}

.blog-add-comment a:hover{
	color: #fff;
}

.popup-window-buttons .bx_blue {

	margin: 0 0 0 10px;
	
}
.popup-window-buttons .row.wow.fadeInUp.bx_blue.animated.animated{
	
	    float: left;
	
}

@media (max-width: 767px){
	
.homepage-slider2 .nav-tabs{
	
	display: none;
	
}
	
.header-top-inner .cnt-block{
	
	    float: inherit !important;
	
}	



.main-header .top-search-holder .contact-row .phone2 {
	
	    border-left: 0px solid #E2E2E2;
	
}



.nav .catalog{
    display: none;
}
.banners_marcet{
    display: none;
}
#hero{
    display: none;
}
.image img {
	
	max-width:212px;
}
.col-md-4 {
	
	max-height:10000px !important;
	
}
#grid-container .products .action{
	
	display: block;
	
}
	
}

@media (max-width: 995px){
	


.nav .catalog{
    display: none;
}
.banners_marcet{
    display: none;
}
#hero{
    display: none;
}
.image img {
	
	max-width:212px;
}
.col-md-4 {
	
	max-height:10000px !important;
	
}
.wide-banner {
	
	display: none;
	
}
}

.product-list .product-price{
	
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    margin-right: 8px;
	
}

.product-list .product-price span{
	
    color: #d3d3d3;
    font-weight: 400;
    line-height: 30px;
    font-size: 14px;
	
}

.bx_item_detail_rating {
	
	min-width:90px;
	
}

@media (max-width: 1125px){
.section-title{
	
	font-size: 15px;
	
}
.sidebar{
	min-width:213px;
}
}

.bx-touch .bx_item_detail_rating .bx_stars_container{
	
	width:68px;
	
}

.touch .bx_bt_button_type_2 {
    background: #a8a8a8;
	height: 35px !important;
    border: none;
    font-size: 13px;
    line-height: 22px;
    display: inline-block;
    padding: 6px 12px !important;
    margin-bottom: 0;
    font-weight: 400 !important;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
	color:#fff;
	
}

.touch .bx_bt_button_type_2:hover{
	
background: #12cca7;
	
}

@media screen and (min-width:996px) and (max-width: 1210px){
	
.bx_catalog_list_home .fadeInUp {
	    max-height: 399px !important;		
		max-width: 226px;
		
	}
	

	
#grid-container .products:hover .action{
	
	    margin-top: -12px;
	
}
.header-style-1 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a{
	
	    font-size: 15px;
	
}
#owl-main .item .caption {
	
	max-width:335px;
	
}
#owl-main .item .caption.bg-color .big-text{
	font-size: 21px;
	max-width:330px !important;
	min-width:205px !important;
}
.bx_bt_button {
	    margin-left: 0px !important;
}
.blog-page .blog-review h4, .blog-page .blog-write-comment h4, .contact-page .contact-title h4{
	    font-size: 14px;
}
.inline {
	font-size: 10px;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket {
	font-size: 11px;
}
}
.bx_catalog_list_home.col3 .bx_catalog_item {
    padding: 0 0;
    margin: 0 1% 30px;
    width: 99%;
}
.main-header .top-search-holder .search-area .search-button{
	
	border: 0px solid #E0E0E0;
}

@media screen and (min-width:1210px){
	
	.full-width-slider .item {
	
	min-width:105%;
	
}

.bx_catalog_item{
	
	width:23%;
	
}

}
.bx_catalog_item_container .bx_catalog_item_scu{
	    position: absolute;
}
.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_container .bx_catalog_item_scu{
	

    border: 1px solid #e3e3e3;
    border-top: 0px;
    background: #fff;
    padding: 5px;
    right: -1px;
    left: -1px;	
    margin-top: 0;
	
}

.bx-no-touch .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_controls, .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_articul, .bx_catalog_list_home .bx_catalog_item .bx_catalog_item_scu{
	
	visibility: hidden;
    display: block !important;
	
	
}

.bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_controls, .bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_articul, .bx-no-touch .bx_catalog_list_home .bx_catalog_item:hover .bx_catalog_item_scu{
	
	visibility: visible;	
}

.single-product .bx_item_detail_scu .bx_scu ul li:active .cnt, .single-product .bx_item_detail_scu .bx_scu ul li.bx_active .cnt{
	
	    border: 2px solid #555  !important;
	
}
.single-product .bx_item_detail_scu .bx_scu ul li:hover .cnt {
	
	    border: 2px solid #555  !important;
	
}

.single-product .bx_item_detail_size ul li:active .cnt, .single-product .bx_item_detail_size ul li.bx_active .cnt{
	
		border: 2px solid #555  !important;
	
}

.gallery-holder .bx_item_slider .bx_slide ul li:active .cnt, .gallery-holder .bx_item_slider .bx_slide ul li.bx_active .cnt{
	
	border: 2px solid #555  !important;
	
}

.gallery-holder .bx_item_slider .bx_slide ul li:hover .cnt{
	
	border: 2px solid #555  !important;	
	
}

.bx_filter .bx_filter_param_btn:active, .bx_filter .bx_filter_param_label.active .bx_filter_param_btn{
	
	    box-shadow: 0px 0px 0px 0px #555,inset 0 0px 0px #555 !important;
		border: 2px solid #555  !important;	
	
}

.bx_filter_select_popup .bx_filter_btn_color_icon, .bx_filter .bx_filter_btn_color_icon{
	
	top: 3px;
	
}

.top-search-holder .contact-row{
	
	    text-align: center;
	
}

.bx-no-touch .single-product .bx_item_detail_size.full{
	    margin-top: 20px;
}
.bx_catalog_item{
	
	padding-right:15px;
	min-width: 120px !important;
	
	
}

.brand_detail .bx_catalog_item{
	
	padding-right:15px;
	min-width: 212px !important;
	
	
}

.brand_detail .owl-wrapper-outer{
	
	min-height: 565px;
	
}

.table-bordered tr{
	
	border-bottom: 1px solid #ddd;
	
}

.bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 2px solid #555 !important;
}

.bx_catalog_list_home .bx_item_detail_size ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_size ul li.bx_active .cnt{
    border: 2px solid #555 !important;
}

.bx_item_set_hor_container_big .bx_item_set_img_container{
	max-width: 212px;
    max-height: 212px;
    width: 90%;
	border: 0px solid #c0cfda;
	float: none;
}
.bx_item_set_hor_container_big .bx_item_set_linkitem{
	font-size: 18px !important;
    font-family: 'Arial';
	margin-left: 0;
	font-weight: 600;
    line-height: 1.1;
    color: inherit;
}

.bx_item_set_hor_container_big .bx_item_set_hor .bx_item_set_hor_item.plus {
    background-position: 94.3% 80px;
}

.bx_item_set_hor_container_big .bx_item_set_hor .bx_item_set_hor_item.result{
	width: 34%;
    margin-left: 66%;
	margin-top: -40px;
}

.bx_item_set_hor_container_big .bx_item_set_hor .bx_item_set_hor_item.result .btn-primary{
	margin-left:10px;
}

.bx_bt_button.bx_medium{	
    font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
    padding: 2px 17px;
    display: inline-block;	
}

.bx_bt_button.bx_medium .bx_icon_cart{
	display: none;
}

.popup-window-buttons .bx_medium.bx_bt_button{
	margin-left: 10px !important;
	margin-right: 0px !important;
	margin-bottom: 10px;
	
}
.category-product.inner-top-vs .bx_bt_button{
	margin-left: 0px !important;
	margin-right: 10px !important;
	margin-bottom: 0px !important;
}

#brands-carousel {
	
	    margin-top: 45px;
	
}
.popup-window-content .bx-form-control {
    position: relative;
    display: block;
    width: 320px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F8FAFC;
    border: 1px solid #D5DADC;
    border-radius: 2px;
    outline: none;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.popup-window-content .bx-form-control-2 {
    position: relative;
    display: block;
    width: 320px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0px solid #D5DADC;
	overflow:hidden !important;
    border-radius: 2px;
    outline: none;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.popup-window-content .close-input{
    position: absolute;
    right: 20px;
    top: 98px;
    border: 0px;
    background-color: transparent;
}

.popup-window-content .bx-form-control-2 option{ cursor: pointer;}

.top-bar .cnt-block{min-width: 315px;}

.cnt-block .geo{
	float: left;
    font-size: 20px;
	cursor: pointer;
	min-width: 200px;
	text-align: right;
    padding-right: 15px;
}
.user-city{float: right;}
.cnt-block .fa-map-marker{
	margin-right: 10px;
}
#order_form_div textarea{
	margin-bottom: 20px;
}

#order_form_div .bx-sls{
    margin-bottom: 20px;
}
.w100 .bx_element input[type=radio]{
	margin-right: -25px;
}
.bx_order_make .bx_logotype span{
	background-color: #fff;
}
.bx_order_make .bx_description strong {
	font-size: 16px;
}
.bx_order_make .bx_result_price{
	
	font-size: 14px;
    width: 65%;
	
}

.bx_order_make .bx_description{
	font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: #666666;
    margin-bottom: 0px;
	
}
.sale_order_full_table input[type=submit]{
	padding: 2px 17px;
    -webkit-border-radius: 0px;
    -moz-border-radiu: 0px;
    border-radius: 0px;
    margin-left: 0px;
    margin-bottom: 3px;
    font-weight: 600;
	font-size: 15px;
    line-height: 30px;
    font-family: 'Arial';
    background: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    border: 2px solid #f2f2f2;
    color: #747474;
}

.sale_order_full_table input[type=submit]:hover{    background: #f39c12;
    border: 2px solid #f39c12;
    color: #fff !important;}
	
.tags.block{
	    position: absolute;
		top: 10px;
		right: 10px;
}
.bx_page(
    margin-bottom: 25px;
)