.cnt-homepage .homepage-slider2 #owl-main .item .caption{
	padding-right: 0px !important;
}

#owl-main .full-width-slider .item .caption .big-text{
	max-width:100% !important;
}

#owl-main .caption.text-center{
	padding-left: 0px !important;
}

.fadeInDown-2 span{

    font-size: 26px !important;
	color:#a97c50;
	line-height: 30px !important;
	margin-top:15px !important;
    font-style: italic;
    background-color: transparent !important;
    -moz-box-shadow: 0 0 0 transparent, 0 0 0 transparent !important;
    -webkit-box-shadow: -1.4em 0 0 transparent, 1.4em 0 0 transparent !important;
    box-shadow: 0 0 0 transparent, 0 0 0 transparent !important;
    padding: 0 10px !important;
}
#owl-main .full-width-slider .item .caption .excerpt{
		line-height: 30px !important;
	
}