@media (min-width: 992px){
.tiny-nav{
position:fixed;

}
}
@media (max-width: 1120px) and (min-width: 992px) {
.service-title{
    font-size: 20px !important;
}

}
@media (max-width: 990px){
#headerstic{

position:relative;

}
.ihome-banner {
    display: none;
	height:0;
	top: -1500px;
}
}
@media (max-width: 767px){
.navbar-collapse {
    margin-top: 5px;
	width: 100%;
}}
.service-title {
    min-height: 80px;
}
.contact2-cal{
    border: 1px solid #dcddde;
    width: 90%;
    padding: 11px 15px;
    color: #6d6d6d;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 25px;
}
.control-group img {
    width: 25px;
    height: 25px;
}