.popup-window-content .bx-form-control {
    position: relative;
    display: block;
    width: 320px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #F8FAFC;
    border: 1px solid #D5DADC;
    border-radius: 2px;
    outline: none;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.popup-window-content .bx-form-control-2 {
    position: relative;
    display: block;
    width: 320px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 0px solid #D5DADC;
	overflow:hidden !important;
    border-radius: 2px;
    outline: none;
    box-shadow: none !important;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.popup-window-content .close-input{
    position: absolute;
    right: 20px;
    top: 98px;
    border: 0px;
    background-color: transparent;
}

.popup-window-content .bx-form-control-2 option{ cursor: pointer;}

.top-bar .cnt-block{min-width: 315px;}

.cnt-block .geo{
	float: left;
    font-size: 20px;
	cursor: pointer;
	min-width: 200px;
	text-align: right;
    padding-right: 15px;
}
.user-city{float: right;}
.cnt-block .fa-map-marker{
	margin-right: 10px;
}