/*===================================================================================*/
/*  BLUE Color
/*===================================================================================*/
a {
  color: #3498db;
}
.show-theme-options:hover,
.show-theme-options:focus {
  background: #3498db;
}
.btn-primary:hover,
.btn-black:hover,
.btn-primary:focus,
.btn-black:focus {
  background: #3498db;
}
.top-bar .cnt-account ul > li a:hover,
.top-bar .cnt-account ul > li a:focus {
  color: #3498db;
}
.top-bar .cnt-block ul li a .caret {
  color: #3498db;
}
.top-bar .cnt-block ul li .dropdown-menu li a:hover,
.top-bar .cnt-block ul li .dropdown-menu li a:focus {
  color: #3498db;
}
.main-header .top-search-holder .contact-row .icon {
  color: #3498db;
}
.top-cart-row .dropdown-cart .lnk-cart .items-cart-inner .total-price-basket .total-price {
  color: #3498db;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .name a:focus {
  color: #3498db;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .price {
  color: #3498db;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:hover,
.top-cart-row .dropdown-cart .dropdown-menu .cart-item.product-summary .action a:focus {
  color: #3498db;
}
.top-cart-row .dropdown-cart .dropdown-menu .cart-total .price {
  color: #3498db;
}
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:hover,
.main-header .top-search-holder .search-area .categories-filter .dropdown-menu li a:focus {
  color: #3498db;
}
.header-style-1 .header-nav {
  background: #3498db;
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li.active {
  background: #1d6ca1;
}
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:hover,
.cnt-home .header-style-1 .header-nav .navbar .navbar-nav > li > a:focus {
  background: #1d6ca1;
}
.cnt-home .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active,
.cnt-homepage .header-style-1.header-style-2 .header-nav .navbar .navbar-nav > li.active {
  background: #3498db;
}
.cnt-home .header-style-1.header-style-3 .header-nav .navbar .navbar-nav > li.active {
  background: #3498db;
}
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  background: #3498db !important;
}
.header-style-2 .header-nav .navbar-default .navbar-collapse .navbar-nav > li.open {
  background: #3498db;
}
.sidebar .side-menu nav .nav > li a:hover,
.sidebar .side-menu nav .nav > li a:focus {
  color: #3498db;
}
.sidebar .side-menu nav .nav > li a:hover:after,
.sidebar .side-menu nav .nav > li a:focus:after {
  color: #3498db;
}
.info-box .info-box-heading.green {
  color: #3498db;
}
.scroll-tabs .nav-tab-line li a:hover,
.scroll-tabs .nav-tab-line li a:focus {
  color: #3498db;
}
.product .product-info .name a:hover,
.product .product-info .name a:focus {
  color: #3498db;
}
.product .product-info .product-price .price {
  color: #3498db;
}
.product .cart .action ul li.lnk a:hover,
.product .cart .action ul li.lnk a:focus {
  color: #3498db;
}
.product .cart .action ul li.add-cart-button .btn-primary:hover,
.product .cart .action ul li.add-cart-button .btn-primary:focus {
  background: #3498db;
}
.product .cart .action ul li.add-cart-button .btn-primary.icon:hover,
.product .cart .action ul li.add-cart-button .btn-primary.icon:focus {
  background: #1d6ca1;
}
.tag.sale {
  background: #3498db;
}
.copyright-bar .copyright a {
  color: #3498db;
}
.blog-slider-container .blog-slider .blog-post-info .name a:hover,
.blog-slider-container .blog-slider .blog-post-info .name a:focus {
  color: #3498db;
}
.footer .links-social .social-icons a:hover,
.footer .links-social .social-icons a:focus,
.footer .links-social .social-icons a.active {
  background: #3498db;
}
.latest-tweet .re-twitter .comment a {
  color: #3498db;
}
.latest-tweet .re-twitter .comment .icon .fa-stack-2x {
  color: #3498db;
}
.footer .contact-information .media .icon .fa-stack-2x {
  color: #3498db;
}
.footer .contact-information .media .media-body a:hover,
.footer .contact-information .media .media-body a:focus {
  color: #3498db;
}
.footer .footer-bottom .module-body ul li a:hover,
.footer .footer-bottom .module-body ul li a:focus {
  color: #3498db;
}
.product-tag .item.active,
.product-tag .item:hover,
.product-tag .item:focus {
  background: #3498db;
}
.hot-deals .product-info .product-price .price {
  color: #3498db;
}
.hot-deals .product-info .name a:hover,
.hot-deals .product-info .name a:focus {
  color: #3498db;
}
.custom-carousel .owl-controls .owl-prev:hover,
.custom-carousel .owl-controls .owl-next:hover,
.custom-carousel .owl-controls .owl-prev:focus,
.custom-carousel .owl-controls .owl-next:focus {
  background: #1d6ca1;
}
.yamm .dropdown-menu .title:hover,
.yamm .dropdown-menu .title:focus {
  color: #3498db;
}
.yamm .dropdown-menu li a:hover,
.yamm .dropdown-menu li a:focus {
  color: #3498db;
}
.breadcrumb ul li.active {
  color: #1d6ca1;
}
.breadcrumb ul a:hover,
.breadcrumb ul a:focus {
  color: #1d6ca1;
}
.filters-container .nav-tabs.nav-tab-box li.active a .icon {
  color: #3498db;
}
.filters-container .pagination-container ul li.active a {
  color: #3498db;
}
.filters-container .pagination-container ul li.prev:hover,
.filters-container .pagination-container ul li.next:hover,
.filters-container .pagination-container ul li.prev:focus,
.filters-container .pagination-container ul li.next:focus {
  background: #3498db;
}
.filters-container .pagination-container ul li a:hover,
.filters-container .pagination-container ul li a:focus {
  color: #3498db;
}
.filters-container .lbl-cnt .dropdown.dropdown-med .dropdown-menu li a:hover,
.filters-container .lbl-cnt .dropdown.dropdown-med .dropdown-menu li a:focus {
  color: #3498db;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:hover,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:focus,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .accordion .accordion-group .accordion-heading .accordion-toggle:after {
  color: #3498db;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .price-range-holder .slider .slider-track .slider-handle {
  border: 5px solid #3498db;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .list li a:hover,
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .list li a:focus {
  color: #3498db;
}
.sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .compare-report span {
  color: #3498db;
}
.sidebar .sidebar-widget .advertisement .owl-controls .owl-pagination .owl-page.active span {
  background: #3498db;
}
.sidebar .sidebar-widget .advertisement .owl-controls .owl-pagination .owl-page:hover span {
  background: #3498db;
}
.single-product .gallery-holder .gallery-thumbs .owl-item .item:hover {
  border: 1px solid #3498db;
}
.single-product .product-info .rating-reviews .reviews .lnk:hover,
.single-product .product-info .rating-reviews .reviews .lnk:focus {
  color: #3498db;
}
.single-product .product-info .price-container .price-box .price {
  color: #3498db;
}
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:hover,
.single-product .product-info .quantity-container .cart-quantity .arrows .arrow:focus {
  color: #3498db;
}
.single-product .product-info .product-social-link .social-icons ul li a:hover,
.single-product .product-info .product-social-link .social-icons ul li a:focus {
  background: #3498db;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus {
  background: #3498db;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:hover:after,
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li a:focus:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3498db;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a {
  background: #3498db;
}
.single-product .product-tabs .nav.nav-tabs.nav-tab-cell li.active a:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #3498db;
}
.cart .action .add-cart-button .btn.btn-primary.icon:hover,
.cart .action .add-cart-button .btn.btn-primary.icon:focus {
  background: #3498db;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .review-title .date span {
  color: #3498db;
}
.product-tabs .tab-content .tab-pane .product-reviews .reviews .review .author span {
  color: #3498db;
}
#owl-main:hover .owl-prev:hover,
#owl-main:hover .owl-next:hover {
  background: #1d6ca1;
}
#owl-main .owl-controls .owl-pagination .owl-page:active span,
#owl-main .owl-controls .owl-pagination .owl-page:hover span {
  background: #3498db;
}
.cart .action ul .lnk .add-to-cart:hover,
.cart .action ul .lnk .add-to-cart:focus {
  color: #3498db !important;
}
.cart .action .add-to-cart:hover,
.cart .action .add-to-cart:focus {
  color: #3498db !important;
}
.homepage-container .product .tag.hot {
  background: #3498db;
}
.homepage-container .product .product-info .name a:hover,
.homepage-container .product .product-info .name a:focus {
  color: #3498db;
}
.homepage-container .btn-primary:hover,
.homepage-container .btn-primary:focus {
  background: #3498db;
  border: 2px solid #3498db;
}
.category-product .cart .action ul li .add-to-cart:hover,
.category-product .cart .action ul li .add-to-cart:focus {
  background: #3498db;
}
.furniture-container .product .btn-primary:hover,
.furniture-container .product .btn-primary:focus {
  background: #3498db;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:hover,
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li > a:focus {
  background: #3498db;
}
.header-style-3 .header-nav .navbar-default .navbar-collapse .navbar-nav > li.open {
  background: #3498db;
}
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page.active span {
  background: #3498db !important;
}
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span:hover,
#owl-single-product-thumbnails .owl-controls .owl-pagination .owl-page span:focus {
  background: #3498db !important;
}
.cnt-homepage .sidebar .sidebar-module-container .sidebar-widget .sidebar-widget-body .price-range-holder .slider .slider-track .slider-handle.max-slider-handle {
  background: #3498db;
}
.blog-page .blog-post h1 a:hover,
.blog-page .blog-post h1 a:focus {
  color: #3498db;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .nav-tabs > li.active > a:focus {
  color: #1d6ca1;
}
.blog-page .blog-post .social-media a:hover,
.blog-page .blog-post .social-media a:focus {
  background-color: #3498db;
}
.blog-page .sidebar .sidebar-module-container .search-area .search-button:after {
  color: #1d6ca1;
}
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:hover,
.blog-page .sidebar .sidebar-module-container .sidebar-widget .blog-post h4 a:focus {
  color: #3498db;
}
.blog-page .blog-post-author-details .author-social-network button .twitter-icon {
  background-color: #3498db;
}
.blog-page .blog-review .review-action a,
.blog-page .blog-review .review-action a:hover,
.blog-page .blog-review .review-action a:focus {
  color: #3498db;
}
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:hover,
.blog-page .blog-post-author-details .author-social-network .dropdown-menu > li > a:focus {
  color: #3498db;
}
.checkout-box .checkout-steps .panel .panel-heading .unicase-checkout-title > a:not(.collapsed) span {
  background-color: #3498db;
}
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:hover,
.checkout-box .checkout-steps .checkout-step-01 .already-registered-login a:focus {
  color: #3498db;
}
.checkout-box .checkout-progress-sidebar .panel-body ul li a:hover,
.checkout-box .checkout-progress-sidebar .panel-body ul li a:focus {
  color: #3498db;
}
.contact-page .contact-info .contact-i {
  background-color: #3498db;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info h4 a:focus {
  color: #3498db;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-name-info .cart-product-info span span {
  color: #1d6ca1;
}
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:hover,
.shopping-cart .shopping-cart-table table tbody tr .cart-product-edit a:focus {
  color: #3498db;
}
.shopping-cart .cart-shopping-total table thead tr th .cart-grand-total {
  color: #1d6ca1;
}
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:hover,
.shopping-cart-table table tbody tr td .quant-input .arrows .arrow:focus {
  color: #3498db;
}
.logo-color {
  fill: #3498db;
}
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:hover,
.cnt-homepage .single-product .product-info-block .form-control .dropdown-menu ul li a:focus {
  color: #3498db;
}
.cnt-homepage .single-product .product-info-block .txt.txt-qty {
  color: #3498db;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail {
  border-bottom: none;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li {
  margin-right: 10px;
  padding: 0;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:hover,
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li a:focus {
  background: #3498db;
  border: 2px solid #3498db;
}
.cnt-homepage .single-product .product-tabs .nav-tab-cell-detail li.active a {
  background: #3498db;
  border: 2px solid #3498db;
}
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:hover,
.shopping-cart .estimate-ship-tax table tbody .unicase-form-control .dropdown-menu.open ul li a:focus {
  color: #3498db;
}
.yamm .dropdown-menu {
  border-top-color: #3498db;
}
.product-comparison .compare-table tr td .product-price .price {
  color: #3498db;
}
.product-comparison .compare-table tr td .in-stock {
  color: #3498db;
}
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:hover,
.body-content .my-wishlist-page .my-wishlist table tbody .product-name a:focus {
  color: #3498db;
}
.product-comparison .compare-table tr td .product-price .price {
  color: #3498db;
}
.product-comparison .compare-table tr td .in-stock {
  color: #3498db;
}
.body-content .x-page .x-text h1 {
  color: #3498db;
}
.body-content .x-page .x-text a {
  color: #3498db;
}
.sign-in-page .register-form .forgot-password,
.sign-in-page .register-form .forgot-password:hover,
.sign-in-page .register-form .forgot-password:focus {
  color: #3498db;
}
.body-content .my-wishlist-page .my-wishlist table tbody .price {
  color: #3498db;
}
.terms-conditions-page .contact-form {
  color: #3498db;
}

/*---*/
.bx_catalog_list_home .bx_catalog_item_price .bx_price {
    color: #3498db;	
	}
.gallery-holder .bx_item_slider .bx_slide ul li:active .cnt, .gallery-holder .bx_item_slider .bx_slide ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.gallery-holder .bx_item_slider .bx_slide ul li:hover .cnt {
    border: 1px solid #3498db;
}

.single-product .bx_item_detail_scu .bx_scu ul li:active .cnt, .single-product .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.single-product .bx_item_detail_scu .bx_scu ul li:hover .cnt {
    border: 1px solid #3498db;
}
.single-product .bx_item_detail_scu .bx_scu ul li .cnt {
    border: 0px solid #3498db;
}
.single-product .bx_item_detail_size ul li:active .cnt, .single-product .bx_item_detail_size ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.products .bx_item_detail_scu .bx_scu ul li:active .cnt, .products .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.products .bx_item_detail_scu .bx_scu ul li:hover .cnt {
    border: 1px solid #3498db;
}
.bx_catalog_list_home .bx_item_detail_size ul li:hover .cnt {
    border: 1px solid #3498db;
}
.bx_catalog_list_home .bx_item_detail_size ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_size ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li:active .cnt, .bx_catalog_list_home .bx_item_detail_scu .bx_scu ul li.bx_active .cnt {
    border: 1px solid #3498db;
}
.bx_item_detail_scu_small_noadaptive .bx_scu ul li:active a, .bx_item_detail_scu_small_noadaptive .bx_scu ul li.bx_active a {
    border: 1px solid #3498db;
	background-color: #3498db;
}
.bx_item_detail_size_small_noadaptive ul li:active a, .bx_item_detail_size_small_noadaptive ul li.bx_active a {
    border: 1px solid #3498db;
}
.bx_item_detail_scu_small_noadaptive .bx_scu ul li:hover a {
    border: 1px solid #3498db;
}

.bx_item_detail_size_small_noadaptive ul li:hover a {
    border: 1px solid #3498db;
}
.bx_ordercart .bx_sort_container a:hover{	
background: #3498db;	
}

.bx_ordercart .bx_sort_container a.current:hover{	
background: #3498db;	
}
.main-buttons:hover{	
background: #3498db;	
}
.bx_bt_button:hover{
	background: #3498db;
}
.product-list .product-price{	
	color: #3498db;
}
.touch .bx_bt_button_type_2:hover{	
background: #3498db;	
}
.bx_filter .bx_ui_slider_handle.right {
	    border: 5px solid #3498db   !important;
}
.bx_filter .bx_ui_slider_handle.left {
	 border: 5px solid #3498db   !important;
}

.bx_filter .bx_ui_slider_part{
	
	background: #3498db  !important;
	
}

.sidebar .side-menu nav .nav > li > a:hover, .sidebar .side-menu nav .nav > li > a:focus {
    border-left: 5px solid #3498db;
}

.bx_filter .bx_filter_param_btn:active, .bx_filter .bx_filter_param_label.active .bx_filter_param_btn{
	box-shadow: 0 0 0 1px #3498db,inset 0 2px 3px rgba(0,0,0,.12);
}