/******************************************************************
*******************************************************************

Template Name: Treviso
Theme URI: http://themeforest.ninetofive.me/treviso/
Description: Responsive HTML5 Template
Author: ninetofive
Author URI: http://www.ninetofive.me
Version: 1.0
							
Designed & Handcrafted by Zan from ninetofive.me
									
*******************************************************************
******************************************************************/

/******************************************************************
	Fonts
******************************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);								
									
/******************************************************************
	This is the CSS Reset
******************************************************************/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {
	width: 100%;
	height: 100%;
	letter-spacing: 0.025em;
	-webkit-font-smoothing: subpixel-antialiased;
}

/******************************************************************
	Text Selection Styles
******************************************************************/
::selection {
	background: #6093e7;
	color: #fff;
}
::-moz-selection {
	background: #6093e7;
	color: #fff;
}
::-webkit-selection {
	background: #6093e7;
	color: #fff;
}
a {
	outline: none;
}

/******************************************************************
	General
******************************************************************/								
a {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	text-decoration: none;
	font-size: 8pt;
	color: #616161;
}
a:hover {
	color: #6093e7;
}
b {
	font-weight: bold;
}
p {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 12px;
}
h1 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 40px;
}
h2 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 20px;
}
h3 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 18px;
}
h4 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 16px;
}
h5 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 14px;
}
h6 {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	text-decoration: none;
	font-size: 12px;
}
.hidden {
	display: none;
}
.block {
	display: block;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}

/******************************************************************
	Colors
******************************************************************/
.white {
	color: #FFF;
}
.color {
	color: #6093e7;
}
.dark-gray {
	color: #4b4b4b;
}
.mid-gray {
	color: #ababab;
}
.light-gray {
	color: #cfcfcf;
}

/******************************************************************
	Main
******************************************************************/
.content {
	max-width: 960px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.content.sidebar {
	width: 659px;
	float: left;
	margin-top: 40px;
	border-right: 1px solid #e7e7e7;
}
.sidebar {
	width: 300px;
	float: right;
}
blockquote {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	font-size: 28px;
	line-height: 60px;
	width: 100%;
	background-color: #f6f6f6;
	height: 100px;
	text-align: center;
	padding-top: 40px;
	color: #616161;
	font-weight: 300;
	font-style: italic;
}
blockquote:before {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
blockquote:after {
	content: '"';
	font-weight: bold;
	font-size: 36px;
}
div.pagetitle {
	width: 100%;
	background-color: #6093e7;
	height: 120px;
}
div.pagetitle h1 {
	line-height: 120px;
	color: #FFF;
	text-align: center;
}
p.main {
	font-size: 15px;
	text-align: center;
	margin: 50px auto;
	font-weight: 400;
}
div.section.divider {
	width: 100%;
	height: 40px;
	border-top: 1px solid #6093e7;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 40px;
}
div.section.divider.single {
	border-top: 1px solid #6093e7;
	margin-top: 150px;
}
div.section.divider h2 {
	font-weight: 400;
	color: #6093e7;
	background-color: #FFF;
	margin-top: -20px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-size: 24px;
	text-transform: uppercase;
}
a.scroll {
	width: 100%;
	display: block;
}
div.icon {
	font-size: 80px;
	color: #FFF;
}
.front div.icon {
	line-height: 210px;
	text-align: center;
}

/******************************************************************
	Hero Images
******************************************************************/
.hero {
	width: 100%;
	height: 100%;
}
.home.hero {
}
.overlay {
	background-image: url(img/overlay_light_diagonal.png);
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: repeat;
}
.herowrapper {
	position: absolute;
	top: 50%;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
.herowrapper h1 {
	text-align: center;
	color: #FFF;
	font-size: 40px;
	font-weight: 300;
}
.herowrapper b {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 0px 5px;
}
a.scrolldown {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	cursor: pointer;
}
.scrolldown .icon {
	font-size: 20px;
	text-align: center;
}
.scrolldown h3 {
	text-align: center;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	font-weight: 300;
}

/******************************************************************
	Sidebar
******************************************************************/
.widget {
	width: 260px;
	margin: 50px 30px;
	margin-bottom: 0px;
	float: left;
}
.widget a {
	font-size: 12px;
}
.widget li {
	margin-top: 4px;
}
.widget.twitter a.tweet {
	float: left;
	margin-top: 20px;
	min-height: 30px;
	background-image: url(img/twitterwidgeticon.png);
	background-repeat: no-repeat;
	padding-left: 35px;
}

/******************************************************************
	Menu
******************************************************************/
.menubar {
	position: fixed;
	top: 0px;
	height: 80px;
	width: 100%;
	z-index: 9999;
	background-color: #FFF;
	margin-top: -80px;
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.menubar.alt {
	background-color: #f6f6f6;
}
a.logo {
	float: left;
	display: block;
	width: 120px;
	height: 30px;
	background-image: url(img/logo.png);
	margin: 27px 0px 0px 40px;
}
ul.mainmenu {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	float: right;
	margin: 0px 40px 0px 0px;
	text-transform: uppercase;
	font-weight: 300;
}
ul.mainmenu li {
	cursor: pointer;
	display: inline-block;
	padding: 30px 10px 31px 10px;
}
ul.mainmenu li a {
	font-size: 12px;
	color: #838282;
	-webkit-transition: color 400ms ease;
	-moz-transition: color 400ms ease;
	-o-transition: color 400ms ease;
	-ms-transition: color 400ms ease;
	transition: color 400ms ease;
}
ul.mainmenu li:hover a {
	color: #6093e7;
}
ul.mainmenu li.active a {
	font-weight: bold;
	color: #6093e7;
}

/******************************************************************
	jCarousel
******************************************************************/
.jcarousel-prev, .jcarousel-next {
	width: 20px;
	height: 20px;
	background-image: url(img/carouselcontrols.png);
	background-repeat: no-repeat;
	background-color: #6093e7;
	cursor: pointer;
	position: absolute;
}
.jcarousel-prev-disabled, .jcarousel-next-disabled {
	width: 20px;
	height: 20px;
	background-image: url(img/carouselcontrols.png);
	background-repeat: no-repeat;
	background-color: #cfcfcf;
	cursor: pointer;
	position: absolute;
}
.jcarousel-next, .jcarousel-next-disabled {
	background-position: -20px 0px;
	top: -25px;
	right: 0px;
}
.jcarousel-prev, .jcarousel-prev-disabled {
	top: -25px;
	right: 22px;
}

/******************************************************************
	Footer
******************************************************************/
footer.main {
	height: 195px;
	width: 100%;
	margin-top: 60px;
	text-align: center;
}
footer.main div.twitter {
	width: 100%;
	padding-bottom: 30px;
	background-color: #343434;
}
footer.main h5.twitter {
	color: #FFF;
	line-height: 90px;
	background-color: #343434;
}
footer.main h6.copyright {
	color: #FFF;
	line-height: 50px;
	background-color: #272727;
}

/******************************************************************
	Home Page
******************************************************************/
div.section.full {
	margin: 40px 0px;
	clear: both;
	width: 960px;
	overflow: hidden;
}
div.section.full li {
	width: 220px;
	margin-top: 20px;
	margin-right: 26px;
}
div.section.block {
	width: 220px;
	height: 185px;
	background-color: #f6f6f6;
	text-align: center;
	float: left;
	cursor: pointer;
}
div.section.block h5 {
	margin-top: 15px;
}
div.section.block h6 {
	color: #838282;
}
div.section.block img {
	width: 220px;
	height: 185px;
	display: block;
	position: absolute;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 1;
}
div.section.block .content {
	width: 220px;
	height: 85px;
	position: absolute;
	z-index: 5;
	background-color: #f6f6f6;
	margin-top: 104px;
}
div.section.block .hover {
	width: 220px;
	height: 185px;
	position: relative;
	z-index: 10;
	display: none;
}
div.section.block .hover.content {
	width: 220px;
	height: 182px;
	position: relative;
	display: block;
	background-color: rgba(96, 147, 231, 0.6);
	z-index: 10;
	border-bottom: 3px solid #6093e7;
	margin-top: 0px;
}
div.section.block .hover.content h2 {
	padding-top: 40px;
	font-size: 40px;
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h5 {
	font-weight: 400;
	color: #FFF;
}
div.section.block .hover.content h6 {
	font-weight: 400;
	color: #FFF;
}
div.section.full li:last-child  {
	margin-right: 0px;
}
div.section.block.blog {
	text-align: left;
	height: 220px;
}
div.section.block.blog .hover {
	left: -10px;
}
div.section.block.blog img {
	height: 220px;
}
div.section.block h2 {
	text-align: center;
}
div.section.block.blog h5, div.section.block.blog h6, div.section.block.blog a {
	margin-left: 20px;
}
div.section.block.blog .content h5 {
	margin-top: 8px;
}
div.section.block.blog .content {
	height: 220px;
}
div.section.block.blog .hover {
	height: 217px;
}
a.readmore {
	display: block;
	margin-top: 5px;
}
div.section.block.blog .hover a.readmore {
	color: #FFF;
}

/******************************************************************
	About Us
******************************************************************/
div.person {
	width: 920px;
	margin: 20px auto;
}
div.person div.image {
	width: 340px;
	height: 250px;
	float: left;
	margin-bottom: 40px;
}
div.person div.info {
	width: 520px;
	float: right;
	padding: 0px 30px;
}
div.person div.image img {
	position: absolute;
}
div.quotehover {
	cursor: pointer;
	display: none;
	position: relative;
	top: 0px;
	left: 0px;
	width: 340px;
	height: 250px;
	background-image: url(img/quotehover.png);
	background-repeat: no-repeat;
	background-color: rgba(96, 147, 231, 0.6);
}
div.quotehover h5, div.quotehover h6 {
	color: #FFF;
	text-align: center;
	padding: 0px 20px;
}
div.quotehover h5 {
	padding-top: 100px;
	font-size: 14px;
}
div.quotehover h6 {
	font-size: 10px;
}
a.socialicon {
	background-image: url(img/socialicons.png);
	background-repeat: no-repeat;
	display: block;
	width: 30px;
	height: 30px;
	float: left;
	margin: 20px 10px 0px 0px;
}
a.socialicon.linkedin {
	background-position: 0px 0px;
}
a.socialicon.linkedin:hover {
	background-position: 0px -30px;
}
a.socialicon.facebook {
	background-position: -30px 0px;
}
a.socialicon.facebook:hover {
	background-position: -30px -30px;
}
a.socialicon.twitter {
	background-position: -60px 0px;
}
a.socialicon.twitter:hover {
	background-position: -60px -30px;
}
a.socialicon.pinterest {
	background-position: -90px 0px;
}
a.socialicon.pinterest:hover {
	background-position: -90px -30px;
}
a.socialicon.dribbble {
	background-position: -120px 0px;
}
a.socialicon.dribbble:hover {
	background-position: -120px -30px;
}

/******************************************************************
	Services
******************************************************************/
.servicesitem img {
	margin-top: 60px;
	margin-left: 60px;
}
.servicesitem p {
	display: none;
}
.servicesitem {
	width: 200px;
	height: 200px;
	display: inline-block;
	cursor: pointer;
	margin-left: 30px;
}
.servicesitem .front, .servicesitem .back {
	width: 200px;
	height: 200px;
	border-radius: 200px;
	float: left;
	position: absolute;
}
.front {
	z-index: 2;
	opacity: 1;
	-webkit-transition: opacity 600ms ease;
	-moz-transition: opacity 600ms ease;
	-o-transition: opacity 600ms ease;
	-ms-transition: opacity 600ms ease;
	transition: opacity 600ms ease;
	background-color: #6093e7;
}
.servicesitem:hover .front {
	opacity: 0;
}
.back {
	background-color: #f6f6f6;
}
.back h3 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 200px;
	color: #6093e7;
	text-align: center;
}

/******************************************************************
	Portfolio
******************************************************************/
ul.portfoliofilter {
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}
li.filter {
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #454544;
	background-color: #efefef;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
	font-weight: 300;
	text-transform: uppercase;
	cursor: pointer;
	padding: 5px 15px;
	border-radius: 3px;
	margin: 0px 5px;
}
li.filter:hover {
	color: #6093e7;
}
li.filter.active {
	font-weight: 700;
	background-color: #6093e7;
	color: #FFF;
}
ul.portfolio li {
	width: 25%;
	float: left;
	cursor: pointer;
	display: none;
	opacity: 0;
}
.portfolioitem {
	display: block;
	padding-bottom: 85px;
	position: relative;
}
.portfolioitem img {
	width: 100%;
	vertical-align: middle;
}
.portfoliohover {
	-webkit-transition: background-color 600ms ease;
	-moz-transition: background-color 600ms ease;
	-o-transition: background-color 600ms ease;
	-ms-transition: background-color 600ms ease;
	transition: background-color 600ms ease;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 100;
}
.portfoliohover .info {
	position: absolute;
	bottom: 0;
	margin-bottom: 25px;
	width: 100%;
	text-align: center;
}
.portfoliohover h1 {
	color: #FFF;
	font-size: 150px;
	font-weight: 300;
	-webkit-transition: opacity, color 600ms ease;
	-moz-transition: opacity, color 600ms ease;
	-o-transition: opacity, color 600ms ease;
	-ms-transition: opacity, color 600ms ease;
	transition: opacity, color 600ms ease;
	opacity: 0;
}
.portfoliohover h5 {
	color: #4b4b4b;
	text-transform: uppercase;
}
.portfoliohover h6 {
	color: #ababab;
	font-weight: 300;
}
ul.portfolio li:hover .portfoliohover {
	background-color: #6093e7;
}
ul.portfolio li:hover .portfoliohover h5, ul.portfolio li:hover .portfoliohover h6, ul.portfolio li:hover .portfoliohover h1 {
	opacity: 1;
	color: #FFF;
}
/******************************************************************
	Blog
******************************************************************/
article.post {
	width: 600px;
	margin: 20px 60px 0px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
}
article.post.full {
	display: none;
}
#postsfull {
	display: none;
}
div.content article:last-child {
	border-bottom: none;
}
div.postimage {
	float: left;
	width: 430px;
	height: 170px;
}
div.postimage img {
	position: absolute;
}
div.posthover {
	opacity: 0;
	position: relative;
	top: 0px;
	left: 0px;
	width: 430px;
	height: 170px;
	background-color: rgba(96, 147, 231, 0.6);
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}
article.post .hover:hover div.posthover {
	opacity: 1;
}
article.post .hover:hover div.postinfo {
	background-color: #6093e7;
}
article.post .hover:hover div.postinfo h6, article.post .hover:hover div.postinfo b {
	color: #FFF;
}
div.posthover a {
	display: block;
	font-size: 24px;
	text-align: center;
	color: #FFF;
	line-height: 170px;
}
div.postinfo {
	float: right;
	width: 110px;
	height: 50px;
	background-color: #f6f6f6;
	padding: 60px 30px;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
	-o-transition: background-color 0.4s;
	transition: background-color 0.4s;
}
article.post h3 {
	clear: both;
	padding-top: 10px; 
}
article.post p {
	clear: both;
	padding-top: 4px; 
}

/******************************************************************
	Testimonials
******************************************************************/
.logos {
	text-align: center;
}
.logos img {
	opacity: 0.4;
	z-index: 5;
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-ms-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	margin: 0px 20px;
	cursor: pointer;
}
.logos img:hover {
	z-index: 5;
	opacity: 1;
}

/******************************************************************
	Contact
******************************************************************/
.contact {
	text-align: center;
	font-family: "Open Sans", Verdana, Arial, sans-serif;
	line-height: 1.6em;
	color: #848484;
	font-size: 16px;
}
.mfeedback input {
	line-height: 50px;
	font-size: 18px;
	width: 500px;
	height: 50px;
	border: 1px solid #6093e7;
	outline: none;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center;
}
.mfeedback textarea {
	line-height: 50px;
	height: 200px;
	font-size: 18px;
	width: 500px;
	border: 1px solid #6093e7;
	outline: none;
	border-radius: 3px;
	margin-bottom: 20px;
	text-align: center;
}

/******************************************************************
	Footer
******************************************************************/
.footer {
	width: 100%;
	margin-top: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #6093e7;
}
.footer h6 {
	line-height: 50px;
	color: #FFF;
}

/******************************************************************
	Mobile
******************************************************************/
@media all and (max-width: 960px) {
	ul.portfolio li {
		width: 50%;
	}
}


